@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  /* Font de test à voir si on change pour celle du Figma */
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  /* Mettre ici les class personnalisées comme dans du CSS classique */
}

.titre {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}
